{% extends "layout.html" %}

{% block body %}
    <p>
        <a href="{{ basePath }}">_ref</a> / <a href="{{ basePath }}/app/{{ app }}">{{ app }}</a>
    </p>

    <h4>Console</h4>

    <div style="width:800px;">
        <button id="clear" type="button" style="float:right; margin-top:-32px;">Clear</button>
        <div id="console" style="width:800px; height:600px; font-family:monospace; overflow-y:scroll; border:1px solid #888888; padding:10px;">
        </div>
    </div>

    <script>
        $(document).ready(function () {

            var $console = $("#console");
            var consoleInitScroll = false;

            function loadConsole() {
                $.get("{{ app }}/load", function (data) {
                    $console.html(data.replace(/\n/g, '<br />'));
                    if (!consoleInitScroll) {
                        scrollDown();
                        consoleInitScroll = true;
                    }
                    if (isAtBottom()) {
                        scrollDown();
                    }
                });
            }

            function scrollDown()
            {
                $console[0].scrollTop = $console[0].scrollHeight;
            }

            function isAtBottom()
            {
                return ($console[0].scrollHeight - $console.scrollTop() <= $console.innerHeight() + 20);
            }

            setInterval(loadConsole, 2000);

            $console.scroll(function () {
                if (isAtBottom()) {
                    $console.css('border-color', '#888888');
                } else {
                    $console.css('border-color', '#cc8888');
                }
            });

            $("#clear").click(function() {
                $.get("{{ app }}/clear", function (data) {
                    $console.html(data);
                });
            });
        });
    </script>
{% endblock %}
